<header>
      <h1>Top 20 Beaches&shy;<span>For Remote Dev</span></h1>
    <h3>by Gary J.</h3>
  <img src="/images/sean-oulashin-KMn4VEeEPR8-unsplash.jpg" class="img-fluid" alt="nice beach on sunset">
</header>