nav {
  opacity: 0.7;
  color: black;
  position: fixed;
  z-index: 99;
}
header h1 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* white-space: pre-wrap; */
}

header h3 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
